body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Só para dar espaçamento na primeira frase dos parágrafos  */
p{
    text-indent: 2rem;
}

/* Alinhando título principal, mas pode ser usado em outros locais  */
.banner{
    color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secao-destacada{
    background-color: white;
    /* height: 500px */
}

.secao-about{
    height: 500px
}

/* Alinhando título da seção destacada  */
.secao-destacada h2{
    text-align: center;
}

/* Só removendo o espaçamento superior do footer  */
.page-footer{
    padding-top: 0;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 150px;
  color: #ebb100ff;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
