.secao-capa {
     height: 45em !important;
}

.secao-produtos{
  background-color: white;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.secao-eusoublumenau {
  background-color: #ff9100;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.secao-griffo {
  background-color: #592138;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.secao-mensagem {
  background-color: #1e88e5;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.desc-caption {
  padding-left: 1.25em;
}
.title-caption {
  font-weight: 100;
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 992px) {
  .size-eusoublumenau {
    font-size: 2rem !important;
  }
}

/* Tablet em retrato a paisagem e desktop */
@media (max-width: 1024px) and (min-width: 769px) {
  .size-eusoublumenau {
    font-size: 2rem !important;
  }
}

/* Desktop grande */
@media (min-width: 1025px) {

}
