.home{
  background-color: #f4f4f4;
  width: auto;
  height: 500px;
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}
.center{

}
.logo{
  image-orientation: center;
  background-image: url("../images/marketing.png");
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  width: auto;
  height: 600px;
  text-align: center;
  padding-left: 20px;
  padding-top: 10px;

}
.imagem{
  text-align: left;
}
.barra{
  background-color: #00adef;
  width: auto;
  height: 8px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.page-footer{
  padding-top: 0;
}

.parallax-container {
     height: 500px;
}
