<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta property="og:site_name" content="Horsgle Development">
    <meta property="og:title" content="Horsgle - Desenvolvimento de Sistemas" />
    <meta property="og:description" content="Gerando tecnologias para você" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="http://www.horsgle.com">
    <title>Horsgles Development</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/horsgle.css">
    <link rel="stylesheet" href="css/institucional.css">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>

    <header class="parallax-container">
      <div class="navbar-fixed">

        <nav class="white ">
          <div class="nav-wrapper">
            <div class="">
              <header class="left">
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons grey-text">menu</i></a>
              </header>
              <a href="./index.html" class="brand-logo"><img class="icon" height="60em" src="images/horsgle.svg" alt="Horsgle"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="./institucional.html" class="grey-text">Institucional</a></li>
                <li><a href="./servicos.html" class="grey-text">Serviços</a></li>
                <li><a href="./produtos.html" class="grey-text">Produtos</a></li>
                <li><a href="./contato.html" class="grey-text">Contato</a></li>
                <li><a class="waves-effect waves-light btn blue lighten-2 modal-trigger" href="#contato"><i class="material-icons left white-text">phone</i>Nós ligamos para você</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div id="contato" class="modal">
        <div class="modal-content">
          <h4 class="center blue-text text-darken-2">Contato</h4>
          <p class="grey-text text-lighten-1 center">Preencha seus dados, logo ligamos para você ;)</p>
          <div class="">
            <div class="input-field col s6">
              <input id="nome" type="text" class="validate" ng-model="contato.nome" ng-init="contato" ng-required="true">
              <label for="nome">Nome</label>
            </div>
            <div class="input-field col s6">
              <input id="empresa" type="text" class="validate" ng-model="contato.empresa" ng-required="true">
              <label for="empresa">Empresa</label>
            </div>
          </div>
          <div class="">
            <div class="input-field col s12">
              <input id="telefone" id='phone_with_ddd' data-mask="(00)0 0000-0000"  type="text" class="validate"  ng-model="contato.telefone" ng-required="true">
              <label for="telefone">Telefone</label>
            </div>
          </div>
        </div>
        <div class="modal-footer center" style="text-align:center">
          <a class="modal-action modal-close waves-effect waves-light btn blue lighten-2"><i class="material-icons left white-text">send</i>Me ligue</a>
          <!-- <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
        </div>
      </div>

      <section>
        <div class="right">
          <ul class="side-nav" id="mobile-demo">
            <!-- <h5 class="orange-text text-darken-2 logonavleft center">Horsgle</h5> -->
            <a href="./index.html"><img class="icon logonavleft" height="60em" src="images/horsgle.svg" alt="Horsgle"></a>
            <li><a class="grey-text text-lighten-1" href="./institucional.html"><i class="material-icons grey-text small">business</i>Institucional</a></li>
            <!-- <li><a class="white-text" href="./promocoes.html"><i class="material-icons">card_giftcard</i> Promoções</a></li> -->
            <li><a class="grey-text text-lighten-1" href="./servicos.html"><i class="material-icons grey-text small">code</i>Serviços</a></li>
            <li><a class="grey-text text-lighten-1" href="./produtos.html"><i class="material-icons grey-text small">view_module</i>Produtos</a></li>
            <li><a class="grey-text text-lighten-1" href="./contato.html"><i class="material-icons grey-text small">speaker_notes</i>Contato</a></li>
            <li><a class="waves-effect waves-light btn blue lighten-2 modal-trigger" href="#contato"><i class="material-icons left white-text">phone</i>Ligamos para você</a></li>
          </ul>
        </div>
      </section>

      <div class="parallax-container secao-capa ">
        <div class="parallax">
          <img src="images/architecture-buildings-city-533930.jpg">
        </div>
      </div>
    </header>

    <!-- <section class="secao-experiencia">
      <div class="row">
        <div class="col s12 l4">
          <div class="center">
            <h3 class="blue-text text-darken-2 title-caption">Experiência em entregar tecnologias de ponta a clientes exigentes.</h3>
            <h5 class="desc-caption light grey-text left-align">Somos uma ponte entre você e o futuro.</h5>
          </div>
        </div>
        <div class="col s12 l8">
          <div class="left">
            <h5 class="grey-text text-darken-2">5 anos entregando nosso melhor para os clientes.</h5>
            <h6 class="grey-text  light">Desde o início, a Horsgle sempre contou com os melhores profissionais da área para criar tecnologia de ponta para seus projetos. <br><br>Hoje trabalhamos com soluções individuais para cada empresa ou segmento, utilizamos tecnologias de ponta atrelado com <br>entendimento de negócio de nossos clientes. <br>Pois só quem está no dia a dia que consegue entender cada aspecto de seu negócio.</h6>
          </div>
        </div>
      </div>
    </section> -->

    <footer class="page-footer grey darken-3">
      <div class="row">
        <div class="col s12 m4 l4">
          <a href="#"><img class="icon logofooter" height="60em" src="images/horsgle-footer.svg" alt="Horsgle"></a>
          <h6 class="grey-text text-lighten-1 descfooter">Horsgle foi criada com o conceito que todas as empresas precisam de tecnologias de ponta, com isso sempre pensamos como levaremos o melhor para os clientes. Desde 2013 entregamos produtos de qualidades para o Brasil e América Latina toda!</h6>
        </div>
        <div class="col l4 offset-l4 s12 m4 offset-m4 ">
          <h5 class="grey-text text-lighten-1">Links úteis</h5>
          <ul>
            <li><i class="material-icons grey-text text-lighten-1 small icon-footer">business</i><a class="grey-text text-lighten-1 content-footer" href="./institucional.html"> Institucional</a></li>
            <li><i class="material-icons blue-text text-lighten-1 small icon-footer">code</i><a class="grey-text text-lighten-1 content-footer" href="./servicos.html"> Serviços</a></li>
            <li><i class="material-icons grey-text text-lighten-1 small icon-footer">view_module</i><a class="grey-text text-lighten-1 content-footer" href="./produtos.html"> Produtos</a></li>
            <li><i class="material-icons grey-text text-lighten-1 small icon-footer">contacts</i><a class="grey-text text-lighten-1 content-footer" href="./contato.html"> Contato</a></li>
          </ul>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container grey-text">
          © 2018 Horsgle Development, All rights reserved.
        </div>
      </div>
    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/horsgle.js"></script>
  </body>
</html>
