.secao-capa {
  height: 45em !important;
}

.capa-fabrica{
  height: 25em !important;
}

.caption-capa {
  margin-top: 3em !important;
  font-weight: 100;
  position: absolute;
  margin-left: 7em;
}
.description-capa {
  margin-top: 6.5em;
  font-weight: 100;
  position: absolute;
  margin-left: 7em;
}

.desc-caption {
  padding-left: 1.25em;
}
.title-caption {
  font-weight: 100;
}

.secao-fabrica{
  background-color: white;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

.secao-alocacao{
  background-color: white;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 992px) {
  .capa-fabrica{
    height: 30em !important;
  }
  .desc-caption {
    padding-left: 0em;
  }
  .caption-capa {
    margin-top: 1em !important;
    font-weight: 100;
    position: absolute;
    margin-left: 0em;
  }
  .description-capa {
    margin-top: 7em;
    font-weight: 100;
    position: absolute;
    margin-left: 0em;
  }
}

/* Tablet em retrato a paisagem e desktop */
@media (max-width: 1024px) and (min-width: 769px) {
  .capa-fabrica{
    height: 30em !important;
  }
  .desc-caption {
    padding-left: 0em;
  }
  .caption-capa {
    margin-top: 1em !important;
    font-weight: 100;
    position: absolute;
    margin-left: 0em;
  }
  .description-capa {
    margin-top: 7em;
    font-weight: 100;
    position: absolute;
    margin-left: 0em;
  }
}

/* Desktop grande */
@media (min-width: 1025px) {

}
